<!DOCTYPE html>
<html lang="es-mx">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Kuantum</title>
  <link rel="icon" type="image/png" href="~/assets/img/icon.png">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">
  <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
  <header>
    <div class="container col-md-10  col-12 mx-auto">
      <nav class="py-4 navbar navbar-expand-lg fixed-top navbar-light scrolling-navbar">
        <a class="navbar-brand ml-md-5 ml-0" href="#">
          <img class="" style="height:50px;" src="~/assets/img/logo_kuantum_nav.png" alt="Logo kuantum" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
                aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="#">Nosotros</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Servicios</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Ventajas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Cobertura</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contáctanos</a>
            </li>

          </ul>

        </div>
      </nav>
    </div>
    @* INICIO *@
    <div class="col-md-12 bg-inicio">

    </div>
  </header>
  <div class="col-md-12 p-0">

    @RenderBody()

  </div>

  <footer class="border-top footer text-muted bg-footer">
    <div class="container col-md-10 ml-auto py-5">
      <div class="row">
        <div class="col-md-4">
          <div>
            Asesores Logísticos Kuantum, <br />
            S.A. de C.V.
          </div>
          <br />
          <div>
            Laguna de Términos 221 <br />
            interior Oficina B603 <br />
            Col. Anáhuac, Miguel Hidalgo <br />
            11320 CDMX
          </div>
        </div>
        <div class="col-md-4">
          <div><i class="fas fa-phone fa-flip-horizontal"></i>&nbsp;&nbsp;55 5549 1164</div>
          <div><i class="fas fa-envelope"></i>&nbsp;&nbsp;contacto@@kuantum.com</div>
        </div>
        <div class="col-md-4">
          <div class="text-center">
            Todos los derechos reservados <br />Diseñado y Desarrollo por:
          </div>
          <div class="col-md-12">
            <div class="row">
              <div class="col-6 text-end">

              </div>
              <div class="col-6 text-start">

              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </footer>
  <script defer type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script defer type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
  <script defer type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <script defer type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js"></script>
  <script defer src="~/js/site.js"></script>
</body>
</html>
