@page
@model IndexModel
@{
  ViewData["Title"] = "";
}

@* NOSOTROS *@
<div class="col-md-12 py-5">
  <div class="col-md-10 mx-auto">
    <div class="row">
      <div class="col-md-6 txt-green h1 pb-5 pl-5">
        Nosotros
      </div>
      <div class="col-md-6 ml-auto">
        <img class="" style="width:5rem;" src="~/assets/img/img-dot-nosotros.png" alt="" />
      </div>
      <div class="col-md-4 text-center h5 py-5">
        <div>
          <span class="h2">
            Misión
          </span>
          <br /><br />
          Ofrecer servicios integrales que <br />
          impulsen a las empresas y <br />
          profesionales en materia corporativa, <br />
          empresarial y financiera.
        </div>

      </div>
      <div class="col-md-4 text-center h5 py-5">
        <span class="h2">
          Valores
        </span>
        <br /><br />
        Honestidad, Calidad, Transparencia,
        Confianza

      </div>
      <div class="col-md-4 text-center py-5">
        <span class="h2">
          Visión
        </span>
        <br /><br />
        Ser una empresa líder ofreciendo un <br />
        servicio de calidad, generando <br />
        estrategias adecuadas para empresas, <br />
        profesionales y emprendedores. <br />
      </div>
    </div>
    <div class="row">
      <img width="50" style="position:relative;left:0px;bottom:0px;" src="~/assets/img/img-dot-nosotros2.png" alt="" />
    </div>
  </div>

</div>
@* SERVICIOS *@
<div class="col-md-12">
  <div class="col-md-10 mx-auto">
    <div class="row">
      <div class="col-md-6">
        <div class="col-md-12 txt-orange h1">Servicios</div>
        <div class="col-md-11 mx-auto">Servicios de Administración Bancaria</div>
        <div class="col-md-11 mx-auto">Administración Empresarial</div>
        <div class="col-md-11 mx-auto">Servicios de Logística Financiera</div>
        <div class="col-md-11 mx-auto">Reingeniería de Negocio</div>
      </div>
      <div class="col-md-6">
        <div class="row d-flex justify-content-center p-5">
          <img class="col-8" src="~/assets/img/servicios.png" alt="servicios" />
        </div>
      </div>
    </div>
  </div>
</div>
@* VENTAJAS *@
<div class="col-md-12  bg-ventajas h5 py-5">
  <div class="col-md-10 mx-auto">
    <div class="row justify-content-around">
      <div class="col-md-12 txt-green h1">Ventajas</div>
      <div class="col-md-4">
        <div class="mx-5"><img class="img-fluid" src="~/assets/img/ventaja1.png" alt="Alternate Text" /></div>
        <div class="text-center">
          Nos aliamos con empresas, profesionales y
          emprendedores para generar las estrategias que
          permitan hacer crecer su negocio
        </div>
      </div>
      <div class="col-md-4">
        <div class="mx-5"><img class="img-fluid" src="~/assets/img/ventaja2.png" alt="Alternate Text" /></div>
        <div class="text-center">
          Promovemos mejoras en el
          ambiente laboral y profesiona
        </div>
      </div>
      <div class="col-md-4">
        <div class="mx-5"><img class="img-fluid" src="~/assets/img/ventaja3.png" alt="Alternate Text" /></div>
        <div class="text-center">
          Superamos las expectativas de nuestros
          clientes, dando resultados que impactan
          de forma positiva en sus negocios
        </div>
      </div>
      <div class="col-md-12"></div>
      <div class="col-md-4">
        <div class="mx-5"><img class="img-fluid" src="~/assets/img/ventaja4.png" alt="Alternate Text" /></div>
        <div class="text-center">
          Planeamos, creamos y ejecutamos las
          metodologías y estrategias que impulsan
          la economía de nuestros clientes
        </div>
      </div>
      <div class="col-md-4">
        <div class="mx-5"><img class="img-fluid" src="~/assets/img/ventaja5.png" alt="Alternate Text" /></div>
        <div class="text-center">
          Contamos con una red de
          especialistas
        </div>
      </div>
    </div>
  </div>
</div>
@* COBERTURA *@
<div class="col-md-12 h5">
  <div class="col-md-10 mx-auto">
    <div class="row">
      <div class="col-md-12 txt-orange h1 mt-3 mb-5">Cobertura</div>
      <div class="col-md-7 p-0 m-0">
        <img class="img-fluid w-100" src="~/assets/img/mapa_cobertura.png" alt="" />
      </div>
      <div class="col-md-5">
        <div class="row">
          <div class="col-md-6 my-2"><i class="fas fa-circle fa-xs txt-green align-middle" style="font-size:0.5rem;"></i> BC Nte y Sur</div>
          <div class="col-md-6 my-2"><i class="fas fa-circle fa-xs txt-orange align-middle" style="font-size:0.5rem;"></i> Nuevo León</div>
          <div class="col-md-6 my-2"><i class="fas fa-circle fa-xs txt-orange align-middle" style="font-size:0.5rem;"></i> Chihuahua</div>
          <div class="col-md-6 my-2"><i class="fas fa-circle fa-xs txt-green align-middle" style="font-size:0.5rem;"></i> Sinaloa</div>
          <div class="col-md-6 my-2"><i class="fas fa-circle fa-xs txt-green align-middle" style="font-size:0.5rem;"></i> Coahuila</div>
          <div class="col-md-6 my-2"><i class="fas fa-circle fa-xs txt-orange align-middle" style="font-size:0.5rem;"></i> Sonora</div>
          <div class="col-md-6 my-2"><i class="fas fa-circle fa-xs txt-orange align-middle" style="font-size:0.5rem;"></i> Durango</div>
          <div class="col-md-6 my-2"><i class="fas fa-circle fa-xs txt-green align-middle" style="font-size:0.5rem;"></i> Tamaulipas</div>
          <div class="col-md-6 my-2"><i class="fas fa-circle fa-xs txt-green align-middle" style="font-size:0.5rem;"></i> Nayarit</div>
          <div class="col-md-6 my-2"><i class="fas fa-circle fa-xs txt-orange align-middle" style="font-size:0.5rem;"></i> Zacatecas</div>
        </div>
      </div>
    </div>
  </div>

</div>
@* CONTACTO *@
<div class="px-0 col-md-12">
  <section class="my-md-5 bg-contacto" style="padding-top:15rem;">
    <div class="col-md-10 mx-auto">
      <h3 class="h1 txt-green">Queremos contactarnos contigo</h3>
      <form class="" style="background-color:transparent !important;">
        <div class="row">
          <div class="col-md-6 mb-4">
            <div class="" style="background-color:transparent !important;">
              <div class="card-body py-5 px-0">
                <div class="py-3">
                  <input type="text" id="name" class="form-control bg-inputs" placeholder="Nombre...">
                </div>
                <div class="py-3">
                  <input type="text" id="email" class="form-control bg-inputs" placeholder="Correo...">
                </div>
                <div class="py-3">
                  <input type="tel" id="phone" class="form-control bg-inputs" placeholder="Teléfono...">
                </div>
                <div class="py-3">
                  <textarea id="message" class="md-textarea form-control bg-inputs" rows="4" placeholder="Mensaje..."></textarea>
                  <div class="col-md-12 text-center pb-5">
                    <button type="submit" class="btn btn-orange btn-sm mx-auto" style="font-size:1.2rem !important; text-transform:none;">Enviar</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">

            </div>
          </div>
        </div>
      </form>
    </div>
  </section>
</div>
<div class="w-100">
  <div>
    <img class="img-fluid" src="~/assets/img/mapa_contacto.png" alt="" />
  </div>
</div>